<%- include('partials/_header') %>
<%- include('partials/_menu') %>

<div class="main">
    <%- include('partials/_menuheader') %>
    <main class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Estado Animal
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Actualizar un registro</h5>
                            <h6 class="card-subtitle text-muted">Ingrese la informacion solicitada a continuación.</h6>
                        </div>
                        <div class="card-body">
                            <form action="/estado_animales/updateEstadoAnimal/<%= data.idEstadoAnimal %>" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Código</label>
                                    <input type="text" class="form-control" name="codigo" placeholder="Código" value="<%= data.codigo %>">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="<%= data.nombre %>">
                                </div>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>

<%- include('partials/_footer') %>
