<%- include('partials/_header') %>
<%- include('partials/_menu') %>

<div class="main">
    <%- include('partials/_menuheader') %>
    <main class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Perfiles
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Actualizar un registro</h5>
                            <h6 class="card-subtitle text-muted">Ingrese la informacion solicitada a continuacion.</h6>
                        </div>
                        <div class="card-body">
                            <form action="/perfiles/updatePerfil/<%= data.idPerfil %>" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Codigo</label>
                                    <input type="text" class="form-control" name="codigo" placeholder="Codigo" maxlength="10" value="<%= data.codigo %>" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" maxlength="150" value="<%= data.nombre %>" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Descripcion</label>
                                    <textarea class="form-control" name="descripcion" rows="3" maxlength="500" placeholder="Descripcion"><%= data.descripcion %></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<%- include('partials/_footer') %>
