 <nav class="navbar navbar-expand navbar-theme">
        <a class="sidebar-toggle d-flex me-2">
            <i class="hamburger align-self-center"></i>
        </a>

        <form class="d-none d-sm-inline-block">
            <input class="form-control form-control-lite" type="text" placeholder="Search projects...">
        </form>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle position-relative" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                        <i class="align-middle fas fa-envelope-open"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
                        <div class="dropdown-menu-header">
                            <div class="position-relative">
                                4 New Messages
                            </div>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Michelle Bilodeau">
                                    </div>
                                    <div class="col-10 ps-2">
                                        <div class="text-dark">Michelle Bilodeau</div>
                                        <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                                        <div class="text-muted small mt-1">5m ago</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <img src="img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Kathie Burton">
                                    </div>
                                    <div class="col-10 ps-2">
                                        <div class="text-dark">Kathie Burton</div>
                                        <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
                                        <div class="text-muted small mt-1">30m ago</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <img src="img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="Alexander Groves">
                                    </div>
                                    <div class="col-10 ps-2">
                                        <div class="text-dark">Alexander Groves</div>
                                        <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                                        <div class="text-muted small mt-1">2h ago</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <img src="img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Daisy Seger">
                                    </div>
                                    <div class="col-10 ps-2">
                                        <div class="text-dark">Daisy Seger</div>
                                        <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
                                        <div class="text-muted small mt-1">5h ago</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="dropdown-menu-footer">
                            <a href="#" class="text-muted">Show all messages</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown ms-lg-2">
                    <a class="nav-link dropdown-toggle position-relative" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                        <i class="align-middle fas fa-bell"></i>
                        <% if (headerNotificationsCount > 0) { %>
                        <span class="indicator"></span>
                        <% } %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                        <div class="dropdown-menu-header">
                            <%= headerNotificationsCount %> New Notifications
                        </div>
                        <div class="list-group">
                            <% if (headerNotificationsCount > 0) { %>
                            <% headerNotifications.forEach((notification) => { %>
                            <a href="/notificaciones_resumen" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <i class="<%= notification.notificacionClass || 'ms-1 text-danger fas fa-fw fa-bell' %>"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="text-dark"><%= notification.nombreNotificacion %></div>
                                        <div class="text-muted small mt-1">
                                            Animal: <%= notification.codigoAnimal %><% if (notification.nombreAnimal) { %> - <%= notification.nombreAnimal %><% } %>
                                        </div>
                                        <div class="text-muted small mt-1">
                                            <%= notification.tipoRegla %> | <%= notification.diasAnimal %> dias
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <% }) %>
                            <% } else { %>
                            <a href="/notificaciones_resumen" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <i class="ms-1 text-success fas fa-fw fa-bell-slash"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="text-dark">Sin notificaciones</div>
                                        <div class="text-muted small mt-1">No hay resultados en la vista de notificaciones.</div>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                        </div>
                        <div class="dropdown-menu-footer">
                            <a href="/notificaciones_resumen" class="text-muted">Show all notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown ms-lg-2">
                    <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-bs-toggle="dropdown">
                        <i class="align-middle fas fa-cog"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <span class="dropdown-item-text">
                            <i class="align-middle me-1 fas fa-fw fa-user"></i>
                            <%= currentUser ? currentUser.nombreCompleto : 'Usuario' %>
                        </span>
                        <span class="dropdown-item-text text-muted">
                            <%= currentUser ? (currentUser.nombrePerfil || currentUser.nombreUsuario) : '' %>
                        </span>
                        <div class="dropdown-divider"></div>
                        <form action="/auth/logout" method="post" class="px-3 py-1">
                            <button type="submit" class="btn btn-outline-secondary btn-sm w-100">
                                <i class="align-middle me-1 fas fa-fw fa-arrow-alt-circle-right"></i> Cerrar sesion
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>